$de-york-green: #79BB86;
$turquoise-blue: #5BC5E4;
$foundtain-blue: #5EC1C6;

$trout-dark: #4F5465;
$strikemaster-purple: #965774;

$offwhite: #F2F2F2;

html body {
    font-family: Lato, sans-serif;
    background: $trout-dark;
    padding: 0;
    margin: 0;
}

p {
    font-weight: 300;
}
h1 {
    font-weight: 400;
}

header, footer {
    color: $offwhite;
    padding: 1em;
    clear: both;
    a {
        color: $offwhite;
        text-decoration: none;
        
        &:hover {
            color: white;
        }
    }
}

section {
    background: white;
    padding: 1em;
    
    &.break {
        margin-bottom: 1em;
    }
    
    max-width: 768px;
    float: left;
}
@media screen 
  and (min-width: 788px){
      
  section {
     margin-left: 10px;
     margin-right: 10px;   
  }
}
p {
    max-width: 30em;
}